{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
  <h1 class="display-4">Violencia política por razones de género 2018</h1>
  <p class="lead">
    Proyecto final de data mining de la Facultad de Ingenieria 2019-2
  </p>
  <hr class="my-4">
  <div class="container-fluid">
    <div class="row">
      <h3>Por Roles</h3>
    </div>
    <div class="row">
      <div class="col-lg-12">
      {% for rol in roles.values() %}
          <a role="button" class="btn btn-primary btn-lg" href="{{ url_for('tweets_periodo', periodo=roll[]) }}"> {{ rol }} </a>
      {% endfor %}
      </div>
    </div>
    <div class="row mt-2">
      <h3>Por candidata</h3>
      <div class="col">
        {% for usuaria in usuarias %}
        <a class="btn btn-success" role="button" href="#">{{ usuaria }}</a>
        {% endfor %}
      </div>
    </div>
    <div class="row mt-10">
      <h3>Candidatas con más replies</h3>
    </div>
  </div>


</div>

{% endblock%}
