{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row justify-content-center mt-3">
    <div class="col-12 text-center">
      <h1 class="margin-sm-all display-4">Tweets de {{info.name}}</h1>
      <img src="{{ info.profile_image_url }}" alt="imagen candidata" class="img-thumbnail">
      <h3 class="text-muted">{{ info.description }}</h3>
      <h5>Followers: <span class="badge badge-primary">{{ info.followers_count }}</span></h5>
    </div>
  </div>
  {% for data_row in tweets | batch(3) %}
    <div class="row justify-content-center top-buffer">
    {% for d in data_row %}
      <div class="col d-flex align-items-stretch">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">{{d["usuaria"]}}</h3>
            <h6 class="card-subtitle mb-2 text-muted small">Fecha: {{ d.tweet.time | truncate(10, end='')}} 
            <h6 class="card-subtitle mb-2 text-muted small">Tweet id: {{ d.tweet.id }}</h6>
          </div>
          <div class="card-body d-flex flex-column">
            <p class="lead p-1">{{d.tweet.text}}</p>
            <a href="{{url_for('replies', username=d.usuaria, tweet_id=d._id)}}" class="btn btn-outline-success btn-block mt-auto" role="button">
              Ver Respuestas
            </a>
          </div>
          <div class="card-footer text-muted">
              Replies: <span class="badge badge-success">{{d.replies | length}}</span>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
  {% endfor %}
</div>
{% endblock %}
